<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Email format</th>
      <th>Email</th>
      <th>Status</th>
      <th>Sub Status</th>
      <th>Disposable</th>
      <th>Toxic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_results.each do |search_result| %>
      <tr>
        <td><%= search_result.email_address %></td>
        <td><%= search_result.status %></td>
        <td><%= search_result.sub_status %></td>
        <td><%= search_result.disposable %></td>
        <td><%= search_result.toxic %></td>
        <td><%= link_to 'Show', search_result %></td>
        <td><%= link_to 'Edit', edit_search_result_path(search_result) %></td>
        <td><%= link_to 'Destroy', search_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Result', new_search_result_path %>
