<p id="notice"><%= notice %></p>

<h1>Person Searches</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Domain url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person_searches.each do |person_search| %>
      <tr>
        <td><%= person_search.first_name %></td>
        <td><%= person_search.last_name %></td>
        <td><%= person_search.domain_url %></td>
        <td><%= link_to 'Show', person_search %></td>
        <td><%= link_to 'Edit', edit_person_search_path(person_search) %></td>
        <td><%= link_to 'Destroy', person_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person Search', new_person_search_path %>
