<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person_search.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person_search.last_name %>
</p>

<p>
  <strong>Domain url:</strong>
  <%= @person_search.domain_url %>
</p>

<% @domain_formats.each do |email_format| %>
	<p><%= email_format.format %> : <%= email_format.score %> : <%= email_format.upvote_count %> : <%= email_format.downvote_count %></p>
<% end %>

<%= link_to 'Edit', edit_person_search_path(@person_search) %> |
<%= link_to 'Back', person_searches_path %>
