<p id="notice"><%= notice %></p>

<h1>Domain Email Formats</h1>

<table>
  <thead>
    <tr>
      <th>Format</th>
      <th>Confirmed</th>
      <th>Status</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domain_email_formats.each do |domain_email_format| %>
      <tr>
        <td><%= domain_email_format.format %></td>
        <td><%= domain_email_format.confirmed %></td>
        <td><%= domain_email_format.status %></td>
        <td><%= domain_email_format.score %></td>
        <td><%= link_to 'Show', domain_email_format %></td>
        <td><%= link_to 'Edit', edit_domain_email_format_path(domain_email_format) %></td>
        <td><%= link_to 'Destroy', domain_email_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain Email Format', new_domain_email_format_path %>
