<p id="notice"><%= notice %></p>

<p>
  <strong>Format:</strong>
  <%= @domain_email_format.format %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @domain_email_format.confirmed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @domain_email_format.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @domain_email_format.score %>
</p>

<%= link_to 'Edit', edit_domain_email_format_path(@domain_email_format) %> |
<%= link_to 'Back', domain_email_formats_path %>
